:root {
    background-color: #FAFAF5;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.vert-ctnr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horiz-ctnr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    display: border-box;
}

.form-row {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.form-row label {
    border-radius: 3px;
    margin-bottom: 4px;
    color: rgba(30, 30, 30, 0.904);
    font-size: 90%;
}


form > *:not(.submit-btn) {
    width: 100%;
}

form {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input, textarea {
    outline: none;
    transition: 0.3s;
    resize: vertical;
}


.clickable {
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
}

.clickable:focus, .clickable:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.submit-btn {
    align-self: flex-end;
}


.error {
    font-weight: bold;
    font-size: 75%;
    color: #B4391D;
    border-bottom: 2px solid #B4391D;
    padding: 5px;
}

.error-input {
    background-color: #efc5cc99;
}

.tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
}

.tooltip .tooltip-tr::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip-tr {
    width: 100px;
    text-align: center;
    visibility: hidden;
    background-color: black;
    border-radius: 8px;
    color: #FAFAF5;
    padding: 5px;
    font-size: 12px;
    position: absolute;
    left: 110%;
    bottom: -100%;
    opacity: 0;
    transition: opacity 3s;
}

.tooltip:hover .tooltip-tr {
    visibility: visible;
    opacity: 1;
}

.header-ctnr {
    display: grid;
    align-items: center;

    grid-template-columns: repeat(12, 1fr) ;
    width: 90vw;
}
.home-btn {
    grid-column-end: 13;
    background: none;
    cursor: pointer;
    width: 25px;
}

.header {
    grid-column-start: 4;
    grid-column-end: span 6;
    text-align: center;
}

.recent-emails-ctnr {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 16px;
    gap: 16px;
}

.email-ctnr {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.sender-recipient-ctnr {
    font-size: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.sender-recipient-ctnr > div {
    padding: 8px;
    text-align: center;
    opacity: 80%;
}

.content-ctnr {
    padding: 5px;
    border: 2px solid black;
    border-radius: 6px;
}

.timestamp-ctnr {
    opacity: 70%;
    font-size: 60%;
    padding: 5px;
    text-align: right;
}

.gradient-text {
    background: linear-gradient(to right, #ff4081, #f49A40);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a.gradient-text {
    text-decoration: none;
    position: relative;
}

a.gradient-text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background: linear-gradient(to right, #ff4081, #f49A40);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s;
}

a.gradient-text:hover::before {
  transform: scaleX(1);
}

.submit-btn, .view-recent-btn {
    background: none;
}

.view-recent-btn {
    margin-top: 20px;
}

.fill {
    position: relative;
    transition: 0.05s ease-in;
    z-index: 1;
}

.fill:hover {
    color: whitesmoke;
}

.fill::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    content: "";
    background: #3e3e3e;
    transition: top 0.2s;
    z-index: -1;
}

.fill:hover::before {
    top: 0;
}

