<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link type="text/css" rel="stylesheet" href="/css/error-sheet.css">
    <link rel="icon" href="/images/xmark-solid.svg">
    <script src="/js/error.js" defer></script>
</head>
<body>
    <div class="vert-ctnr full-size">
        <div class="error-num" th:text="${httpstatus == null} ? '404' : ${httpstatus}"></div>

        <h3 class="error-heading" th:text="${exception == null} ? 'Page not found.' : ${exception}"></h3>
        <h4 class="error-subheading" th:if="${moreDetails != null}" th:text="${moreDetails}"></h4>

        <div class="error-url">
            <a th:href="${url}" th:if="${url != null}" th:text="${url}"></a>
        </div>
        <img th:src="${img == null} ? '/images/warning.png' : ${img}"  class="error-img">
    </div>
</body>
</html>