<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name}"></title>
    <link type="text/css" rel="stylesheet" href="/css/style-sheet.css">
    <link rel="icon" href="/images/user-regular.svg">
</head>
<body>
    <div class="vert-ctnr">
        <h2 th:text="#{welcome.message}"></h2>
        <h4 th:text="#{welcome.description}"></h4>
        <a class="gradient-text" th:href="#{email.link}"><b>Email Service</b></a>
    </div>
</body>
</html>