<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <div class="vert-ctnr">
        <h2 th:if="${param.failed}" class="bright-color">
            Could not authenticate user.
        </h2>
        <h2 th:if="${param.logout}" class="bright-color">
            You have been logged out.
        </h2>

        <a class="gradient-text" href="/">Click here to return to the homepage.</a>
    </div>
</body>
</html>