<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/style-sheet.css">
</head>
<body>
    <div class="vert-ctnr">
        <h2 th:if="${param.failed}" class="bright-color">
            Could not authenticate user.
        </h2>
        <h2 th:if="${param.logout}" class="bright-color">
            You have been logged out.
        </h2>
        <form th:action="@{/login}">
            <div class="vert-ctnr">
                <label>Username: </label><input placeholder="my_username" type="text" name="username">
                <label>Password: </label><input placeholder="password123" type="password" name="password">
                <button class="clickable submit-btn fill" type="submit">Login</button>
            </div>
        </form>
        <a class="gradient-text" href="/">Click here to return to the homepage.</a>
    </div>
</body>
</html>