<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name}"></title>
    <link rel="stylesheet" href="/email-sheet.css">
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 th:text="#{email.welcome}"></h1>
        <p th:text="#{email.description}"></p>
        <form class="form" action="#" th:action="@{/sendEmail}" method="post" th:object="${email}">
            <div>
                <div class="form-field-container">
                    <label>From:</label>
                    <input class="clickable" type="text" th:field="${email.from}">
                </div>
                <div th:errorclass="error" th:if="${#fields.hasErrors('from')}" th:errors="${email.from}"></div>
            </div>
            <div>
                <div class="form-field-container">
                    <label>To:</label>
                    <input class="clickable" type="text" th:field="${email.to}">
                </div>
                <div th:errorclass="error" th:if="${#fields.hasErrors('to')}" th:errors="${email.to}"></div>
            </div>
            <div>
                <div class="form-field-container" style="gap: 30px;">
                    <label>Content:</label>
                    <input class="clickable" type="text" th:field="*{content}" />
                </div>
                 <div th:errorclass="error" th:if="${#fields.hasErrors('content')}" th:errors="${email.content}"></div>
            </div>
            <button class="submit-button clickable" type="submit">Submit</button>
        </form>
<!--        <p th:text="${date}"></p>-->
    </div>

</body>
</html>