<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.name}"></title>
    <link type="text/css" rel="stylesheet" href="/css/style-sheet.css">
    <link rel="icon" href="/images/paper-plane-regular.svg">
    <script src="/js/email.js" defer></script>
</head>
<body>
    <div class="vert-ctnr">
        <div class="header-ctnr">
            <h1 class="header" th:text="#{email.welcome}"></h1>
            <a href="/" class="home-btn"><img src="/images/house-chimney-solid.svg"></a>
            <form method="post" th:action="@{/logout}">
                <button class="clickable submit-btn fill" type="submit">Sign Out</button>
            </form>
        </div>
        <p th:text="#{email.description}">Description</p>
        <form action="#" th:action="@{/sendEmail}" method="post" th:object="${email}">
            <div class="horiz-ctnr">
                <div class="vert-ctnr">
                    <div class="form-row">
                        <label>From:</label>
                        <input th:errorclass="error-input" class="clickable" type="text" th:field="${email.sender}">
                    </div>
                    <div th:errorclass="error" th:if="${#fields.hasErrors('sender')}" th:errors="${email.sender}"></div>
                </div>
                <div class="vert-ctnr">
                    <div class="form-row">
                        <label>To:</label>
                        <input th:errorclass="error-input" class="clickable" type="text" th:field="${email.recipient}">
                    </div>
                    <div th:errorclass="error" th:if="${#fields.hasErrors('recipient')}" th:errors="${email.recipient}"></div>
                </div>
            </div>
            <div class="horiz-ctnr">
                <div class="vert-ctnr">
                    <div class="form-row">
                        <label>Host:</label>
                        <input th:errorclass="error-input" class="clickable" th:field="*{host}">
                    </div>
                    <div th:errorclass="error" th:if="${#fields.hasErrors('host')}" th:errors="${email.host}"></div>
                </div>
                <div class="vert-ctnr">
                    <div class="form-row">
                        <label>Port:</label>
                        <input th:errorclass="error-input" class="clickable" th:field="*{port}">
                    </div>
                    <div th:errorclass="error" th:if="${#fields.hasErrors('port')}" th:errors="${email.port}"></div>
                </div>
            </div>
            <div class="horiz-ctnr">
                <div class="vert-ctnr">
                    <div class="form-row">
                        <label>Username:</label>
                        <input th:errorclass="error-input" class="clickable" th:field="*{username}">
                    </div>
                    <div th:errorclass="error" th:if="${#fields.hasErrors('username')}" th:errors="${email.username}"></div>
                </div>
                <div class="vert-ctnr">
                    <div class="form-row">
                        <label>Password:</label>
                        <div class="tooltip">
                            <input th:errorclass="error-input" type="password" class="clickable" th:field="*{password}">
                            <span class="tooltip-tr" th:text="#{email.password.tooltip}"></span>
                        </div>
                    </div>
                    <div th:errorclass="error" th:if="${#fields.hasErrors('password')}" th:errors="${email.password}"></div>
                </div>
            </div>
            <div class="vert-ctnr">
                <div class="form-row">
                    <label>Subject:</label>
                    <input th:errorclass="error-input" class="clickable" th:field="${email.subject}">
                </div>
                <div th:errorclass="error" th:if="${#fields.hasErrors('subject')}" th:errors="${email.subject}"></div>
            </div>
            <div class="vert-ctnr">
                <div class="form-row">
                    <label>Content:</label>
                    <textarea th:errorclass="error-input" class="clickable" th:field="*{content}"></textarea>
                </div>
                <div th:errorclass="error" th:if="${#fields.hasErrors('content')}" th:errors="${email.content}"></div>
            </div>
            <button class="submit-btn clickable fill" type="submit">Submit</button>
        </form>
        <button class="view-recent-btn clickable fill">Click here to view the most recent emails sent.</button>
        <div class="recent-emails-ctnr"></div>
    </div>

</body>
</html>